<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DentistAssistant</title>

    <environment include="Development">
    </environment>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/pixel-admin.min.css" rel="stylesheet" />
    <link href="~/css/widgets.min.css" rel="stylesheet" />
    <link href="~/css/rtl.min.css" rel="stylesheet" />
    <link href="~/css/themes.min.css" rel="stylesheet" />
    <link href="~/css/dastyle.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery-3.4.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/pixel-admin.js"></script>

</head>
<body class="theme-default main-menu-animated">
    <div id="main-wrapper">
        @await Component.InvokeAsync("Header")
    </div>
    <div id="content-wrapper">
        @RenderBody()
    </div>

    <!--

    <div class="container body-content">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - DentistAssistant - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    -->

    <environment exclude="Development">
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
            </script>*@
    </environment>
    <environment include="Development">
    </environment>
    <script>
        $(document).on('click', '.insertFdiDesc', function () {
            $('#fdiDescription').val($('#fdiDescription').val() + this.innerText);
        });
        //$(document).on('click', '.insertFdiDesc', function () {
        //    $('#fdiDescription').val($('#fdiDescription').val() + this.text);
        //});
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
